.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  margin-top: 10px;
}

.App-header {
  background-color: #00aaff;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.avatar {
  max-width: 200px;
}

.gist-button {
  margin-right: 2em !important;
}

.gist-button:last-child {
  margin-right: initial !important;
}

div[class^="MuiPaper-"] {
  overflow-wrap: break-word !important;
}
/*.Main-app {*/
  /*width: 50%;*/
  /*margin: 0 auto;*/
/*}*/